layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center "#[fg=#89B4FA,bold]{session}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                color_base "#232136"
                color_surface "#2a273f"
                color_overlay "#393552"
                color_muted "#6e6a86"
                color_subtle "#908caa"
                color_text "#e0def4"
                color_love "#eb6f92"
                color_gold "#f6c177"
                color_rose "#ea9a97"
                color_pine "#3e8fb0"
                color_foam "#9ccfd8"
                color_Iris "#c4a7e7"
                color_highlight_low "#2a283e"
                color_highlight_med "#44415a"
                color_highlight_high "#56526e"

                mode_normal        "#[fg=$foam,bold] NORMAL "
                mode_locked        "#[fg=$muted,bold] LOCKED "
                mode_pane          "#[fg=$pine,bold] PANE "
                mode_tab           "#[fg=$rose,bold] TAB "
                mode_scroll        "#[fg=$Iris,bold] SCROLL "
                mode_enter_search  "#[fg=$text,bold] ENT-SEARCH "
                mode_search        "#[fg=$subtle,bold] SEARCH "
                mode_resize        "#[fg=$gold,bold] RESIZE "
                mode_rename_tab    "#[fg=$gold,bold] RENAME TAB "
                mode_rename_pane   "#[fg=$gold,bold] RENAME PANE "
                mode_move          "#[fg=$gold,bold] MOVE "
                mode_session       "#[fg=$love,bold] SESSION "
                mode_prompt        "#[fg=$love,bold] PROMPT "

                tab_normal   "#[fg=$subtle,bold]{name} "
                tab_active   "#[fg=$text,bold,italic]{name} "

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%Y-%m-%d %A %H:%M"
                datetime_timezone "Asia/Shanghai"
            }
        }
    }
}
